[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ksalman-ai
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ksalman-ai
	label-Verified = -1..+1 group user/ksalman-ai
	push = group user/ksalman-ai
	read = group user/ksalman-ai
	rebase = group user/ksalman-ai
	removeReviewer = group user/ksalman-ai
	submit = group user/ksalman-ai
[access "refs/heads/*"]
	create = group user/ksalman-ai
	push = +force group user/ksalman-ai
	pushMerge = group user/ksalman-ai
	read = group user/ksalman-ai
[access "refs/tags/*"]
	push = group user/ksalman-ai
	push = +force group user/ksalman-ai
